:root {
  --ff-pri: 'Mulish', sans-serif;
  --ff-sec: 'Roboto', sans-serif;

  --dark-orange: #ff5900; 
  --very-light-orange: #ffa575;
  --very-dark-grey: #252525;
  --dark-grey: #636363;
  --light-grey: #ececec;  
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;   
  font-family: var(--ff-pri);
  color: #fff;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 1rem;
  color: var(--very-dark-grey);
}

h2 {
  font-size: 1.2rem;
  color: var(--very-dark-grey);
  padding: 1rem;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

p {
  margin: 0;
}

a {  
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #000;
}

button {
  font-family: var(--ff-pri);
  cursor: pointer;
  background-color: var(--dark-orange);
  color: #fff;
  border: none;
  padding: 1rem;    
}

section {
  padding: 1rem 0 2rem; 
}

.navbar {
  padding: 1rem .65rem;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .highlight-text,
.navbar-custom .navbar-nav .sign-in {
  color: var(--dark-orange);
}

.navbar-custom .navbar-brand {
  font-size: 1.2rem;
}

.navbar-custom .navbar-nav .sign-in {
  padding-right: 0;
}

.banner {
  padding: 1rem 0 2rem;
  display: flex;
  justify-content: center;
}

.carousel {  
  padding: 0 .75rem;
}

.carousel-item {    
  max-width: 1000px;
}

.carousel-item img {
  max-width: 1000px;
}

.our-philosophy img,
.locations img, 
.personal-training img,
.exercise-classes img {
  max-width: 350px;  
  width: 100%;
}

.specialized-workouts img,
.weight-equipment img,
.membership img {
  max-height: 350px;
}

.our-philosophy {
  background-color: var(--light-grey);   
  text-align: center;
}

.our-philosophy p {  
  padding: .5rem .25rem;
  color: #000;
}

.our-philosophy .highlight-text-bg,
.services .highlight-text-bg {
  background-color: var(--dark-orange);  
  color: #fff;
}

.our-philosophy img {  
  padding: .5rem 0;  
}

.philosophies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1050px;
  margin: 0 auto;
}

.busy,
.yoga-class,
.playing {
  max-width: 448px;
  margin: .5rem 2rem;
}

.playing img {
  width: auto;
  max-height: 320px;
}

.locations {  
  text-align: center;
}

.locations-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.location img {    
  border-radius: 40%;
  padding: 1rem .5rem;
}

.location {
  max-width: 448px;
  margin: .5rem .5rem;
}

.address-info {
  text-align: center;
}

.address-info p {
  background-color: var(--dark-grey);
  padding: .5rem .5rem;
  width: 50%;
  margin: 0 auto;
}

.address-info .highlight-text {
  color: var(--very-light-orange);
}

.services {
  background-color: var(--light-grey);
  text-align: center;
  color: var(--very-dark-grey);
  font-weight: bold;
}

.services img {  
  padding: 1rem 0 0;  
}

.services p {
  padding: .5rem 0;
  margin: .25rem 0;
  font-weight: normal;
}

.personal-training img,
.exercise-classes img {
  width: 100%;
}

.specialized-workouts,
.weight-equipment {
  position: relative;
}

.specialized-workouts img,
.specialized-workouts p,
.weight-equipment img,
.weight-equipment p {
  position: relative;
  z-index: 1;
}

.membership {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--very-dark-grey);
}

.membership img {
  max-width: 300px;
  border-radius: 48%;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}

.membership-info {
  text-align: left;
}

.membership-info p {
  font-weight: bold;
}

.membership-info .highlight-text {
  color: var(--light-orange);
  font-weight: bold;
}

.membership-info ul {
  margin-bottom: 2rem;
}

.contact-us {
  background-color: var(--light-grey);
  color: var(--very-dark-grey);
}

.contact-us h1 {
  background-color: var(--dark-orange);
  color: #fff;
  font-size: 1.75rem;
  text-align: center;
  padding: 1rem 0;
}

.contact-us-container {  
  padding: 1rem;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.contact-us-form .entry {
  display: flex;
  flex-direction: column;
  padding: .1rem 0;
}

.contact-us-form label {
  padding: .25rem 0;
  margin: 0;
}

.entry input,
.entry textarea {
  padding: .5rem .5rem;
  margin: 0;
  border: 1px solid #000;
}

.entry input:focus,
.entry textarea:focus {
  outline: 2px solid var(--dark-orange);  
  border: 2px solid var(--dark-orange);
}

.contact-us-form button {  
  background-color: var(--dark-orange);
  border: 1px solid var(--dark-orange);
  color: #fff;
  font-size: 1.25rem;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0 0;
}

footer {
  background-color: var(--dark-grey);
  padding: 2rem .25rem;
  text-align: center;
  color: #fff;
}

footer ul {  
  padding: 0;
  margin: 1rem 0;
  list-style-type: none;
}

footer li {
  display: inline-block;
  line-height: 2rem;
  padding: 0 .5rem;
}

.social-links i {
  padding: 0 1rem;
}

hr {
  border: 1px solid #fff;
  margin: 1.25rem 0;
}

@media (min-width: 660px){
  .navbar {
    max-width: 1400px;
    margin: 0 auto;
  }
  .spec-wo-weight-euip-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }  
  .specialized-workouts,
  .weight-equipment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    margin: 1rem;
  }
  .specialized-workouts p,
  .weight-equipment p {
    margin: 0 1rem;
    text-shadow: 1px 1px 5px #000;
  }
  .weight-equipment {
    flex-direction: row-reverse;
  }
  .triangle-right{
    position: absolute;
    left: 20%;
    z-index: 0;
    width: 0; 
    height: 0; 
    border-top: 14rem solid transparent;
    border-bottom: 14rem solid transparent;  
    border-left: 22rem solid var(--dark-orange);
  }  
  .triangle-left {
    position: absolute;
    right: 20%;
    z-index: 0;
    width: 0; 
    height: 0; 
    border-top: 14rem solid transparent;
    border-bottom: 14rem solid transparent;  
    border-right: 22rem solid var(--dark-orange);
  }

}

